{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="#">Add new FAQ</a>
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <td>Id</td>
                <td>Question</td>
                <td colspan="2">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
                <tr>
                    <td>{{ faq.id }}</td>
                    <td>{{ faq.question }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
