{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="error error-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="login-form">
        <div class="login-form-group">
            <label for="username">E-mail</label>
            <input class="login-form-input" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="E-mail">
        </div>
        <div class="login-form-group">
            <label for="password">Password</label>
            <input class="login-form-input" type="password" id="password" name="_password" placeholder="password">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="sing-in" title="Zaloguj się">Zaloguj</button>
    </form>
{% endblock %}
